.contactTitle {
    position: absolute;
    left: 5%;
    top: 3%;
    font-family: 'Titillium Web', sans-serif;
	font-size: 2em;
}  
#contactInput {
    position: absolute;
    width: 90%;
    height: 50%;
    left: 5%;
    right: 5%;
    top: 10%;
    font-family: 'Titillium Web', sans-serif;
	font-size: 1.5em;
}
.submitDiv {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0%;
}
.big {
    position: absolute;
	width: 20%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
    float: left;
    display: none;
    background-image: url("../image/pokemon/charmeleon.png");
    cursor: pointer;
}
