.body {
    margin: 0;
	height: 100%;
}
.header {
    width: 100%;
    height: 20%;
    background-color: #EDEDED;
	z-index: 10;
	border-bottom: 2px grey solid;
}
.topLogo {
	position: relative;
	width: 150px;
	height: 150px;
	top: 13%;
	left: 3%;
	float: left;
}
.topLogoName {
    position: relative;
    top: 20%;
    left: 2%;
    width: 40%;
    height: 50%;
	float: left;
}
.topMenu {
    position: absolute;
    top: 7.8%;
    left: 90%;
    width: 40px;
    height: 3px;
    background-color: black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 8px 0;
    background-clip: content-box;
}
.five-div {
    position: relative;
    top: 25%;
    left: 20%; 
    width: 15%;
    height: 50%;
    background-color: white;
    margin: auto 5px;
    display: inline-block;
}
.withoutHeader {
	position: relative;
	width: 100%;
	height: 90%;
	background-color: white;
}
.bottomTopBorder {
	position: relative;
	margin: 0 auto;
	width: 70%;
	height: 1%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
.bottomLeft {
	position: relative;
	top: 5%;
	left: 20%;
	width: 35%;
	height: 80%;
	background-color: white;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.1em;
}
.bottomRight {
	position: relative;
	top: 10%;
	left: 25%;
	width: 20%;
	height: 80%;
	background-color: white;
	display: inline-block;
}
