.body {
    margin: 0;
	height: 100%;
}
.header {
    width: 100%;
    height: 15%;
    background-color: #EDEDED;
	z-index: 10;
	border-bottom: 2px grey solid;
	max-height: 150px;
}
.topLogoDiv {
	position: relative;
	top: 10%;
	left: 5%;
	width: 80%;
	height: 80%;
	float: left;
}
.topLogo {
	position: relative;
	width: 10%;
	height: 100%;
	background-image: url("../image/water.png");
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
}
.topName{
	position: relative;
	float: left;
	width: 75%;
	height: 100%;

}
.topCompanyName {
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 1px;
	font-size: 1.3em;
	cursor: pointer;
}
.topPageName {
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 2px;
	font-size: 2.5em;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.topMenu {
    position: relative;
    top: 40%;
	right: 5%;
    width: 30px;
    height: 3px;
	background-color: black;
	border-width: 3px 0px;
	border-style: solid;
	border-color: black;
    padding: 8px 0;
	background-clip: content-box;
	cursor: pointer;
	float: right;
}
.withoutHeader {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 690px;
	max-height: 800px;
	background-color: white;
}
#bottom {
	position: relative;
	width: 100%;
	height: 40%;
	max-height: 300px;
}
.bottomTopBorder {
	position: relative;
	margin: 0 auto;
	width: 70%;
	height: 1%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
.bottomLeft {
	position: relative;
	float: left;
	top: 5%;
	left: 15%;
	width: 35%;
	height: 80%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.1em;
}
a {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.1em;
	color: rgb(88, 86, 86);
}
a:link{
	text-decoration: none;
	color: rgb(88, 86, 86);
}
a:hover {
	text-decoration:underline;
	color:gray;
}
a:active {
	text-decoration:none;
	color:#c27777;
}

.bottomRight {
	position: relative;
	top: 5%;
	right: 15%;
	width: 35%;
	height: 80%;
	float: right;
	font-family: 'Titillium Web', sans-serif, Microsoft JhengHei;
	font-size: 1em;
	text-align: right;
	color: grey;
}
.popDiv {
	position: absolute;
	top: 15%;
	width: 100%;
	height: 50%;
	background-color: green;
	border-top: 1px black solid;
	z-index: 10;
	display: none;
}
.popDivShadow{
	position: absolute;
	top: 20%;
	width: 100%;
	height: 135%;
	background-color: black;
	opacity: 0.5;
	z-index: 9;
	display: none;
}
.popDivSmall {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
	cursor: pointer;
}
.popDivName {
	position: absolute;
	width: 100%;
	height: auto;
	top: 30%;
	text-align: center;
	font-size: 4em;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	z-index: 8;
}
#popDiv1 {
	background-color: #D4D4D4;
}
#popDivImage1 {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 40%;
	background-image: url("../image/surveillance.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
}
#popDiv2 {
	background-color: #EDEDED;
}
#popDivImage2 {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 40%;
	background-image: url("../image/watering.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
}
#popDiv3 {
	background-color: #D4D4D4;
}
#popDivImage3 {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 40%;
	background-image: url("../image/event.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
}
#popDiv4 {
	background-color: #EDEDED;
}
#popDivImage4 {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 40%;
	background-image: url("../image/setting.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
}
#popDiv5 {
	background-color: #D4D4D4;
}
#popDivImage5 {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 40%;
	background-image: url("../image/contact.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
}
