#left {
	position: fixed;
	width: 20%;
	height: 100%;
	margin-top: 0px;
	box-sizing: border-box;
	border-right: 1px grey solid;
	float: left;
}
#logo {
	width: 80%;
	height: 250px;
	margin: 40px auto 0 auto;
	background-image: url("../image/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#right {
	width: 80%;
	height: 100%;
	margin-top: 0px;
	float: right;
}
#right1 {
	position: relative;
	width: 100%;
	height: 33.33%;
	background-color: #EDEDED;
	background-image: url("../image/camera.png");
	background-repeat: no-repeat;
	background-position: 90%;
}
#right2 {
	position: relative;
	width: 100%;
	height: 33.33%;
	background-color: #D4D4D4;
	background-image: url("../image/tree.png");
	background-repeat: no-repeat;
	background-position: 90%;
}
#right3	{
	position: relative;
	width: 100%;
	height: 33.33%;
	background-color: #EDEDED;
	background-image: url("../image/setting.png");
	background-repeat: no-repeat;
	background-position: 90%;
	background-size: 40%;
}
#three-div {
	position: absolute;
	left: 12.5%;
	bottom: 10%;
	width: 75%;
	height: 249px;
	margin: 0 auto auto auto;
}
#submit {
	position: relative;
	top: 10%;
	width: 50%;
	border: 0;
  	background-color:#003C9D;
  	color:#fff;
  	border-radius: 10px;
	cursor: pointer;
	font-size: 20px;
}
#submit:hover{
  	color:#003C9D;
  	background-color:#fff;
	border:2px #003C9D solid;
}
.loginDiv {
	position: relative;
	margin: 5px auto 0 auto;
	width: 100%;
	height: 5%;
}
.loginButton {
	position: absolute;
	width: 50%;
	height: 80%;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	left: 25%;
	top: 10%;
	cursor: pointer;
}
.loginButton:hover {
	color: red;
	text-decoration: underline;
}
.username {
	position: relative;
	width: 33.33%;
	height: 80%;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	left: 33.33%;
	top: 10%;
	cursor: pointer;
}
.username:hover {
	color: red;
	text-decoration: underline;
}
.login {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #EDEDED;
	opacity: 0.9;
	display: none;
	font-family: 'Titillium Web', sans-serif;
}
.loginInputDiv {
	width: 380px;
	height: 460px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -230px 0 0 -190px;
	text-align: center;
}
.loginForm {
	position: relative;
	width: 100%;
	height: 30%;
}
.loginInput {
	font-size: 20px;
	border-radius: 10px;
}
.body {
	margin: 0;
	height: 100%;
}
.bottomLine {
	position: absolute;
	top: 98%;
	left: 0;
	width: 0%;
	height: 2%;
	background-color: green;
	z-index: 0;
}
.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	z-index: 0;
}
.funcName {
	position: relative;
	top: 30%;
	left: 15%;
	width: 20%;
	height: 40%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 2.5em;
	font-weight: bold;
}
.funcHat {
	width: 20%;
	border: 1px black solid;
	background: black;
}
.moving {
	cursor: pointer;
}
.three-div {
	width: 100%;
	height: 83px;
	border-bottom: 1px gray solid;
	line-height: 83px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5em;
	cursor: pointer;
}
a:link{
	text-decoration: none;
	color: #003C9D;
}
a:visited{
	text-decoration: underline;
	color: #003C9D;
}
a:hover {
	text-decoration:underline;
	color:gray;
}
a:active {
	text-decoration:none;
	color:#c27777;
}
