.signupDiv {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 30%;
    font-family: 'Titillium Web', sans-serif;
    line-height: 25px;
	text-align: center;
}
.synopsis {
	position: absolute;
	top: 0px;
	width: 450px;
	height: 450px;
	text-align: center;
	line-height: 40px;
	background-color: white;
	display: none;
	z-index: 10;
}
.synopsisUL {
	list-style-type:none; 
	font-size:1.5em; 
	padding-left: 0px; 
	margin-top: 15%
}
.signupImage {
	position: relative;
	margin: 10px auto;
	width: 450px;
	height: 450px;
	border: 5px solid #666;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.all {
	width: 1800px;
	height: 300px;
	position: absolute;
	top: 75px;
	left: 75px;
}
.signupInputDiv {
	position: relative;
	margin: 5px auto;
	width: 80%;
	height: 20%;
}
.signupTitle {
	text-align: center;
	font-size: 3em;
}
.signupInput {
	position: relative;
	text-align: center;
	margin-top: 10px; 
}
#submit {
	width: 30%;
	height: 50px;
	margin-top: 5%;
	border: 0;
  	background-color:#003C9D;
  	color:#fff;
  	border-radius: 10px;
	cursor: pointer;
	font-size: 2em;
}
#submit:hover{
  	color:#003C9D;
  	background-color:#fff;
	border:2px #003C9D solid;
}
.img {
	max-width: 100%;
	max-height: 100%;
}
.selected {
	border-color: black;
}
.imgStyle {
	margin: 10px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 5px solid grey;
	cursor: pointer;
}
#image1 {
	position: absolute;
	left: 10%;
}
#image2 {
	position: absolute;
	left: 10%;
	top: 30%;
}
#image3 {
	position: absolute;
	left: 10%;
	top: 60%;
}
#image4 {
	position: absolute;
	right: 10%;
}
#image5 {
	position: absolute;
	right: 10%;
	top: 30%;
}
#image6 {
	position: absolute;
	right: 10%;
	top: 60%;
}
.big {
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

